<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dlmj.hideseek" >

    <!-- 摄影机 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />

    <!-- SD卡读取权限，用户写入离线定位数据-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />

    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- 访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCES_MOCK_LOCATION" />

    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />

    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- 来电消音 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- 用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>

    <application
        android:name=".HideSeekApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="@string/map_key"/>

        <activity
            android:name=".UI.Activity.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".UI.Activity.IntroduceActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden">
        </activity>

        <activity
            android:name=".UI.Activity.BaiduGuideActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden">
        </activity>

        <activity
            android:name=".UI.Activity.SettingActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden">
        </activity>

        <activity
            android:name=".UI.Activity.MyProfileActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden">
        </activity>

        <activity
            android:name=".UI.Activity.UploadPhotoActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden">
        </activity>

        <activity
            android:name=".UI.Activity.RegionActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden">
        </activity>

        <activity
            android:name=".UI.Activity.MatchRoleActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden">
        </activity>

        <activity
            android:name=".UI.Activity.NavigationActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden">
        </activity>

        <activity
            android:name=".UI.Activity.MapActivity"
            android:theme="@style/MapDialog"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden">
        </activity>

        <activity
            android:name=".UI.Activity.FriendActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden">
        </activity>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <service android:name="com.amap.api.location.APSService" />
    </application>

</manifest>
